body {
  font-size: 2rem;
  margin: 0;
  background-color: #0a0a0a;
  color: white;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
.rien {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  z-index: 1000;
  background-color: #0a0a0a;
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 5rem;
}
.ul-nav {
  display: flex;
  list-style: none;
  padding: 1.5rem 5%;
  box-sizing: border-box;
}
nav li:hover {
  transition: 0.5s;
  opacity: 0.5;
}
nav a {
  margin-right: 50px;
  font-size: 20px;
  text-decoration: none;
}
.list-nav::first-letter {
  text-transform: capitalize;
}
section {
  padding: 8rem 5%;
}
h1 {
  scroll-margin-top: 200px;
}
.titre {
  text-transform: capitalize;
  text-align: center;
  margin-top: 150px;
  font-size: 70px;
  background: linear-gradient(90deg, magenta, purple, magenta, purple);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 8s ease infinite;
}

.metier {
  text-align: center;
  padding-bottom: 300px;
  font-size: 30px;
}
/* Section : compétences */
#skills {
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(135deg, blue, aqua);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 8rem 5%;
}
.competences {
  display: flex;
  flex-direction: column;
  border: 2px solid aqua;
  border-radius: 15px;
  padding: 5px;
  width: 30%;
}
.competences img {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}
.competences h3 {
  margin-left: 45px;
}
.competences ul {
  padding-right: 150px;
}
.competences li {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.competences li:before {
  content: "❄️";
  font-size: 20px;
}
.space {
  padding-bottom: 510px;
}
/* Section : projets */

h1 {
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(135deg, blue, aqua);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid img {
  width: 400px;
  height: 300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  justify-content: center;
}

.grid > div {
  text-align: center;
  position: relative;
}

.grid > div:nth-child(3) {
  grid-column: 1 / -1;
  justify-self: center;
}

.grid > div:hover .project-title {
  opacity: 1;
}

.img-project {
  display: block;
}

/* titre centré */
.project-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  margin: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.45);
  transition: 0.5s;
}

.reseaux {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.reseaux div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background: #e1d7d7;
  border-radius: 25px;
}

.linkedin img {
  width: 110px;
  object-fit: contain;
  margin-left: 5px;
}

.github img {
  width: 120px;
  object-fit: contain;
  margin-left: 5px;
}

.email img {
  width: 110px;
  object-fit: contain;
  margin-left: 2px;
}

.linkedin img:hover {
  transition: 0.5s;
  width: 120px;
}

.github img:hover {
  transition: 0.5s;
  width: 130px;
}

.email img:hover {
  transition: 0.4s;
  width: 120px;
}
